{% extends "base.html" %}
{% load static %}

{% block content %}
    {% if product %}
    <div class="container mx-auto d-grid mt-5">
        <div class="col-10 mx-auto">
            <div class="card" style="width: 80%;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">
                        {{product.description}}
                    </p>
                    <a href="#" class="btn btn-primary">Buy{{product.name}}</a>
                </div>
            </div>
        </div>
    </div>
        
    {% endif %}
{% endblock %}